<!-- individual notes go in here -->

<!-- edit button goes here? -->

individual note go heres with its content

<!-- <form method="POST" action="/resource" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete resource</button>
  </form> -->