<a class="folders" href="/folders/form">Click on me to make a new folder</a>
<h2 class="f-title">Your folders: </h2>
<div class='container'>
   <% if(folders) { %>
      <% folders.forEach(f => { %><br>
        <form method="GET" action="/folders/<%= f.id %>">
           <input type="hidden" name="<%= f.id %>" value="<%= f.id %>">
           <button type="submit"><%= f.folderTitle %></button>
        </form>
     <% }) %>
  <% } %> 
</div>


<!-- need to connect the folders with a tag so it can 
take you to the notes page -->

<!-- need to create a POST method -->



