Create your new folder here
<div>
    <form method="POST" action="/folders/form">
        <label for="folderTitle">Title: </label>
        <input class="form-control" id="folderTitle" name="folderTitle" required>
        <input type="submit" class="btn btn-primary">
    </form> 
</div>
