nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: black;
  text-align: center;
}
h2{
  text-align: center;
}

.container {
  text-align: center;
}

.container2 {
  text-align: center;
}

#title {
  height: 100;
  width: 900;
}